body {
	background-color: #F44336;
	color: white;
	font-family: 'Roboto', sans-serif;
}

li {
	list-style-type: none;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.inputfields {
	color: black;
}